@import "../styles/_variables";

.gallery {
  /* border: solid red; */
  margin-top: $nav-height + 15px;
  min-height: 100vh;

  &__input {
    outline-style: none;
    padding: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-right: 10px;
  }

  &__page-button {
    margin: 10px;
    background-color: beige;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    &:hover {
      cursor: pointer;
    }
  }
}

.gallery__button-search__icon {
  width: 40px;
}
.gallery__cards-group {
  /* border: solid blue; */

  min-height: 90vh;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.gallery__cards-group__card {
  /* border: solid green; */
}

.gallery__loading {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
